body {
  height: 900px;
  width: 1600px;

}

#main {
  height: 100%;
  width: 100%;
}

.sticker{
  height: 250px;
  width: 250px;
  position: relative;
  top: 53%;
  left: -7%;
  padding-left: 0%;
  margin-left: 0%;
}

#base{
  display: inline;
}
